$primary-50 : #e5f7ef;
$primary-100: #c1ead6;
$primary-200: #98dcbd;
$primary-300: #69cfa3;
$primary-400: #40c48f;
$primary-500: #00b97b;
$primary-600: #00aa6f;
$primary-700: #009761;
$primary-800: #008655;
$primary-900: #00663e;
