$viridian-50: #f0f9f5;
$viridian-100: #dbf0e4;
$viridian-200: #b9e1cd;
$viridian-300: #8bcaae;
$viridian-400: #59ae8b;
$viridian-500: #328264;
$viridian-600: #277459;
$viridian-700: #1f5d48;
$viridian-800: #1b4a3b;
$viridian-900: #173d31;
$viridian-950: #0c221c;

$primary-50 : #e5f7ef;
$primary-100: #c1ead6;
$primary-200: #98dcbd;
$primary-300: #69cfa3;
$primary-400: #40c48f;
$primary-500: #00b97b;
$primary-600: #00aa6f;
$primary-700: #009761;
$primary-800: #008655;
$primary-900: #00663e;
