$viridian-50: #f0f9f5;
$viridian-100: #dbf0e4;
$viridian-200: #b9e1cd;
$viridian-300: #8bcaae;
$viridian-400: #59ae8b;
$viridian-500: #328264;
$viridian-600: #277459;
$viridian-700: #1f5d48;
$viridian-800: #1b4a3b;
$viridian-900: #173d31;
$viridian-950: #0c221c;
