<div class="recipe-img">
  @if (!showingPlaceholderImg) {
  <img class="background" [src]="recipeImg(recipe.image)" alt="" />
  }
  <div class="container-img">
    <img
      alt=""
      src="assets/images/placeholder-image.webp"
      [ngStyle]="{ display: showingPlaceholderImg ? '' : 'none' }"
    />
    <img
      alt=""
      [src]="recipeImg(recipe.image)"
      [ngStyle]="{ display: showingPlaceholderImg ? 'none' : '' }"
      (load)="showingPlaceholderImg = false"
    />
  </div>
</div>
<div #details class="recipe-details">
  @for (bgImage of bgImages; track $index; let even = $even) {
  <img
    class="bg-image"
    alt=""
    [src]="bgImage.url"
    [ngClass]="{ 'left-img': even, 'right-img': !even }"
    [ngStyle]="{ top: bgImage.top }"
  />
  }
  <div class="container-name">
    <p class="name contrast-color">{{ recipe.name }}</p>
    @if (isFavorite()) {
      <mat-icon class="contrast-color" [@pulse] (click)="changeFavorite(false)">favorite</mat-icon>
    } @else {
      <mat-icon class="contrast-color" (click)="changeFavorite(true)">favorite_border</mat-icon>
    }
  </div>
  <div class="info">
    @if (recipe.difficulty) {
    <div class="item">
      <mat-icon class="contrast-color">soup_kitchen</mat-icon>
      <span class="title contrast-color">Dificultad</span>
      <span>{{ recipe.difficulty }}</span>
    </div>
    } @if (recipe.serving) {
    <div class="item">
      <mat-icon class="contrast-color">people</mat-icon>
      <span class="title contrast-color">Porciones</span>
      <span>{{ recipe.serving }}</span>
    </div>
    } @if (recipe.time) {
    <div class="item">
      <mat-icon class="contrast-color">timer</mat-icon>
      <span class="title contrast-color">Tiempo</span>
      <span>{{ recipe.time }}</span>
    </div>
    }
  </div>
  <div class="list">
    <p class="contrast-color">Ingredientes</p>
    <ul>
      @for (ingredient of recipe.ingredients; track ingredient) {
      <li>{{ ingredient }}</li>
      }
    </ul>
  </div>
  <div class="list">
    <p class="contrast-color">Pasos</p>
    <ul>
      @for (step of recipe.steps; track step) {
      <li>{{ step }}</li>
      }
    </ul>
  </div>
</div>
