.recipe-img {
  height: 20vh;
  width: 100%;
  position: relative;
  @media (min-width: 576px) {
    height: 25vh;
  }
  @media (min-width: 768px) {
    height: 30vh;
  }
  @media (min-width: 1200px) {
    height: 40vh;
  }
  .background {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
  .container-img {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    img {
      height: inherit;
      object-fit: contain;
      display: block;
      margin: auto;
    }
  }
}
.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  .bg-image {
    position: absolute;
    z-index: -1;
    height: 100px;
    opacity: 0.5;
    &.left-img {
      left: 2rem;
      transform: rotate(-15deg);
    }
    &.right-img {
      right: 2rem;
      transform: rotate(15deg);
    }
  }
  .container-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .name {
      font-size: 1.25rem;
    }
    mat-icon {
      cursor: pointer;
    }
  }
  .list {
    width: 70%;
    p {
      font-size: 1.25rem;
    }
    ul {
      list-style-type: none;
      padding-left: 1rem;
      li {
        line-height: 1.25rem;
        padding: 0.85rem 0;
      }
    }
  }
  .info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 0;
    .item {
      text-align: center;
      span {
        display: block;
      }
      .title {
        margin: 0.5rem 0;
      }
    }
  }
  @media (min-width: 768px) {
    .list,
    .info {
      width: 50%;
    }
  }
}
