@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  footer {
    background-color: mat.get-theme-color($theme, primary, default);
    color: #000000de;
    a,
    a:active {
      color: #000000de;
    }
  }
}

@mixin color-dark($theme) {
  footer {
    background-color: mat.get-theme-color($theme, primary, default);
    color: white;
    a,
    a:active {
      color: white;
    }
  }
}
