@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .login {
    background-color: mat.get-theme-color($theme, primary, 50);
    .card {
      background-color: mat.get-theme-color($theme, background, card);
    }
  }
}

@mixin color-dark($theme) {
  .login {
    background-color: mat.get-theme-color($theme, background, background);
    .card {
      background-color: mat.get-theme-color($theme, background, card);
    }
  }
}
