@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .recipe-card {
    background-color: mat.get-theme-color($theme, primary, 100);
    .name, .title {
      color: mat.get-theme-color($theme, primary, default);
    }
  }
}

@mixin color-dark($theme) {
  .recipe-card {
    background-color: mat.get-theme-color($theme, background, card);
    .name, .title {
      color: mat.get-theme-color($theme, accent, default);
    }
  }
}
