@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .record-card {
    background-color: mat.get-theme-color($theme, primary, 50);
    .chip {
      background-color: mat.get-theme-color($theme, primary, default);
      color: #000000de;
    }
  }
}

@mixin color-dark($theme) {
  .record-card {
    background-color: mat.get-theme-color($theme, background, card);
    .chip {
      background-color: mat.get-theme-color($theme, primary, default);
      color: white;
    }
  }
}
