<div class="bg">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email">
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
        <button type="submit" [disabled]="profileForm.invalid">Submit</button>
    </form>
    <button (click)="isSignUp = true">sign up</button>
    <button (click)="isSignUp = false">sign in</button>
</div>
