<div class="login">
  <div class="card">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent">
        <mat-label>Correo electrónico</mat-label>
        <input type="email" matInput formControlName="email" />
        @if (email!.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Contraseña</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          color="accent"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (password!.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
        }
      </mat-form-field>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="profileForm.invalid || loading"
      >
        Aceptar
      </button>
    </form>
    <div class="container-sign">
      <mat-button-toggle-group
        [(ngModel)]="isSignUp"
        name="sign"
        aria-label="Sign"
        (change)="changeForm()"
      >
        <mat-button-toggle [value]="true">Registrarse</mat-button-toggle>
        <mat-button-toggle [value]="false">Iniciar sesión</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
