.recipe-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @media (min-width: 576px) {
    gap: 1.5rem;
  }
  .name {
    height: 2rem;
    margin: 1rem 1rem 0;
    text-align: center;
    text-wrap: balance;
    display: flex;
    align-items: center;
  }
  img {
    width: 80%;
    aspect-ratio: 1/1;
  }
  .info {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    .item {
      text-align: center;
      span {
        display: block;
      }
    }
  }
  a {
    margin-bottom: 1rem;
  }
}
