<div class="recipe-card">
  <div class="name">{{ recipe.name }}</div>
  <img [src]="recipeImg(recipe.image)" alt="" />
  <div class="info">
    @if (recipe.time) {
      <div class="item">
        <span class="title">Tiempo</span>
        <span>{{ recipe.time }} min</span>
      </div>
    }
    @if (recipe.time) {
      <div class="item">
        <span class="title">Dificultad</span>
        <span>{{ recipe.difficulty }}</span>
      </div>
    }
  </div>
  <a
    mat-button
    color="accent"
    routerLinkActive="router-link-active"
    [routerLink]="['/recipes', recipe.anchor]"
  >
    Ver más
  </a>
</div>
