<div class="recipe-card">
  <div class="name">{{ recipe.name }}</div>
  <img [src]="recipeImg(recipe.image)" alt="" />
  <div class="info">
    @for (item of recipe.info; track $index) {
      <div class="item">
        <span class="title">{{
          item.includes("min") ? "Tiempo" : "Dificultad"
        }}</span>
        <span>{{ item }}</span>
      </div>
    }
  </div>
  <a
    mat-button
    color="primary"
    routerLinkActive="router-link-active"
    [routerLink]="['/recipes', recipe.anchor]"
  >
    Ver más
  </a>
</div>
