@import '../../../assets/scss/colors.scss';

.spacer {
    flex: 1 1 auto;
}

.swiper {
    height: 15rem;
    width: 15rem;
}

.test {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: $primary-50;
}
