<div class="search">
  <app-ingredients-input [ingredients]="ingredients()" (ingredientsChange)="ingredients.set($event)" />
  <button mat-stroked-button color="primary" [disabled]="!ingredients().length" (click)="search()">Search recipe</button>
</div>

@if (recipes().length) {
  @if (recipes()[0].name) {
    <swiper
      #swiper
      [config]="config"
      [effect]="'cards'"
      (afterInit)="afterInitSwiper()"
      (slideChange)="onSlideChange($event)"
    >
      @for (recipe of recipes(); track recipe.name; let i = $index) {
        <ng-template swiperSlide>
          <div class="card">
            <p class="name">{{recipe.name}}</p>
            <img [src]="recipeImg(recipe.image)" alt="">
            <div class="info">
              <div class="item">
                <span class="title">Level</span>
                <span>{{recipe.info[0]}}</span>
              </div>
              <div class="item">
                <span class="title">Time</span>
                <span>{{recipe.info[1]}}</span>
              </div>
            </div>
            <button mat-button color="primary" routerLinkActive="router-link-active" [routerLink]="['/recipes', recipe.anchor]">View recipe</button>
          </div>
        </ng-template>
      }
    </swiper>
  }
} @else {
  <div class="container-placeholder">
    @if (firstSearch) {
      search
    } @else if (loading) {
      <img class="placeholder-gif" src="assets\images\loading-black.gif" alt="">
    } @else {
      <div>
        <img class="placeholder-gif" src="assets\images\not-found-black.gif" alt="">
        <p style="text-align: center; margin-bottom: 0;">Not found</p>
      </div>
    }
  </div>
}
