<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Meals App</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<swiper
  [config]="config"
  [effect]="'cards'"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide><div class="test">Slide 1</div></ng-template>
  <ng-template swiperSlide><div class="test">Slide 2</div></ng-template>
  <ng-template swiperSlide><div class="test">Slide 3</div></ng-template>
  <ng-template swiperSlide><div class="test">Slide 4</div></ng-template>
  <ng-template swiperSlide><div class="test">Slide 5</div></ng-template>
  <ng-template swiperSlide><div class="test">Slide 6</div></ng-template>
</swiper>
