<mat-toolbar color="primary">
  <span>Meals App</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Logout icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p style="text-decoration: underline;">Autor</p>
  <p>Carlos Colmenares</p>
  <p style="text-decoration: underline;">Contacto</p>
  <p><a style="text-decoration: none;" href="mailto:cacg98@gmail.com">{{'cacg98@gmail.com'}}</a></p>
  <p>Todas las recetas de esta web provienen de <a style="text-decoration: none;" href="https://www.recetasnestle.com.ve/" target="_blank">recetasnestle.com.ve</a></p>
</footer>
