@import "../../../../assets/scss/variables.scss";

.spacer {
  flex: 1 1 auto;
}

.container-body {
  display: flow-root;
  min-height: calc(100vh - var(--mat-toolbar-standard-height) - $footer-height);
}

@media (max-width: 599px) {
  .container-body {
    min-height: calc(100vh - var(--mat-toolbar-mobile-height) - $footer-height);
  }
}

footer {
  background-color: $primary-400;
  color: $primary-50;
  text-align: center;
  height: $footer-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0 0 0.5rem;
  }
  p:last-child {
    margin: 2rem 0 0;
  }
  a,
  a:active {
    color: $primary-900;
  }
}
