@import "../../../assets/scss/variables.scss";

.container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--mat-toolbar-standard-height) - $footer-height);
  .title {
    font-size: 1.35rem;
    color: $primary-600;
  }
  img {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }
}

.favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem;
}

@media (max-width: 599px) {
  .container-empty {
    height: calc(100vh - var(--mat-toolbar-mobile-height) - $footer-height);
  }
}

@media (min-width: 768px) {
  .favorites {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .favorites {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .favorites {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1400px) {
  .favorites {
    grid-template-columns: repeat(6, 1fr);
  }
}
